[importlinter]
root_package = propstore
include_external_packages = True

[importlinter:contract:propstore-six-layers]
name = propstore six-layer architecture
type = layers
layers =
    web : cli
    app
    argumentation : aspic_bridge : world
    heuristic
    source
    storage
containers = propstore
